<%- include("partials/header") -%>

<h1>About Me.</h1>
<div class="box">
  <h1>I am CompoundShade.</h1>
  <h1>My brother is Daydream.</h1>
  <h1>My sister is Panda</h1>

</div>

<%- include("partials/footer") -%>
