<%- include("partials/header") %>

<div class="jumbotron centered">
    <div class="container">
        <h1>Articles API</h1>
        <a href="/articles/wiki" class="btn btn-dark btn-lg btn-block height2">GO TO API</a>
        <br>
        <a href="/articles/wiki/1" class="btn btn-dark btn-lg"> Mr. F's article </a>
    </div>
</div>



<%- include("partials/footer") %>