<%- include("partials/header") %>

<div class="jumbotron centered">
    <div class="container">
        <h1>Articles API</h1>
        <a href="/articles/wiki" class="btn btn-dark btn-lg btn-block height2">GO TO API</a>
        <br>
        <p>If need to see only one article, then go to the end of the link and then type / and then type the id of the article you want to see. Like /1 at the end of the website link, for Mr. Frenchy.</p>
        <p>( Will only work on <a href="/articles/wiki"> https://tedtube.herokuapp.com/articles/wiki </a> )</p>
    </div>
</div>



<%- include("partials/footer") %>