<%- include("partials/header1"); -%>
<div class="sidenav">
  <a href="/" class="white">Home</a>
  <a href="/code/start" class="white">Start</a>
  <a href="/code/html" class="white">HTML</a>
  <a href="/code/css" class="white">CSS</a>
  <a href="/code/help" class="white">Help</a>
</div>

<h1>
  Tedtube Docs Of Coding
  (TDOC)
</h1>

<p>Here are docs of coding.</p>

<%- include("partials/footer"); -%>