<%- include("partials/header"); -%>
<div class="sidenav">
  <a href="/code/start" class="white" accesskey="a">Start</a>
  <a href="/code/html" class="white" accesskey="b">HTML</a>
  <a href="/code/css" class="white" accesskey="c">CSS</a>
  <a href="/code/help" class="white" accesskey="d">Help</a>
</div>

<h1>
  Tedtube Docs Of Coding
  (TDOC)
</h1>

<p>Here are docs of coding.</p>

<%- include("partials/footer"); -%>