<%- include("partials/header") -%>




<div id="footer">
  <address>
    <div class="box">
      <button class="button" type="button" name="button"><a class="mailMe" href="mailto:juicetin.kim@gmail.com">Email Me!</a></button>
      <button class="button" type="button" name="button"><a class="mailMe" href="mailto:ethanbaron.kim@gmail.com">Email Daydream!</a></button>
    </div>
    <a class="footer-link user-select-all" href="https://www.linkedin.com/"> CompoundShade's Scratch</a>
    <a class="footer-link user-select-all" href="https://github.com/compound-codes"> CompoundShade's <svg width="1rem" height="1rem" viewBox="0 0 16 16" class="bi bi-file-code-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M12 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zM6.646 5.646a.5.5 0 1 1 .708.708L5.707 8l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zm2.708 0a.5.5 0 1 0-.708.708L10.293 8 8.646 9.646a.5.5 0 0 0 .708.708l2-2a.5.5 0 0 0 0-.708l-2-2z" />
      </svg> Github</a> <br>
    <a class="footer-link user-select-all" href="https://www.linkedin.com/"> DayDream's Scratch</a>
    <a class="footer-link user-select-all" href="https://www.soundtrap.com/daydreamsounds"> DayDream's Soundtrap</a>
    <a class="footer-link user-select-all" href="https://github.com/DayDream-Code"> DayDream's <svg width="1rem" height="1rem" viewBox="0 0 16 16" class="bi bi-file-code-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M12 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zM6.646 5.646a.5.5 0 1 1 .708.708L5.707 8l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zm2.708 0a.5.5 0 1 0-.708.708L10.293 8 8.646 9.646a.5.5 0 0 0 .708.708l2-2a.5.5 0 0 0 0-.708l-2-2z" />
      </svg>Github</a>
  </address>
</div>





<%- include("partials/footer") -%>
