<%- include("partials/header")-%>

<div>
  <h1>Credits</h1>
  <a href="https://fontawesome.com/" class="footer-link user-select-all">I used icons from font-awesome!</a> <br>
  <a href="https://colorhunt.co/" class="footer-link user-select-all">I used color palletes from Color Hunt</a><br>
  <a href="https://icons.getbootstrap.com/" class="footer-link user-select-all">I used icons from bootstrap!</a><br>
  <a href="https://getbootstrap.com/" class="footer-link user-select-all">Some code is from bootstrap!</a><br>
  <a href="https://www.w3schools.com/default.asp" class="footer-link user-select-all">Some code is from W3schools</a><br>
</div>

<%- include("partials/footer") -%>
