<%- include("partials/header") %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-fan"></i>
    <h1 class="display-3">Tedtube</h1>
    <p class="lead">Many things are in this website like:
      <br>
      <a href="/list" class="white">TodoList</a> <br>
      <a href="/about" class="white">About Me</a><br>
      <a href="/tedtube" class="white">Tedtube Website</a><br>
      <a href="/contact" class="white">Contact Me</a><br>
      <a href="/blog" class="white">My blog</a><br>
      <a href="/stories" class="white">My stories</a><br>
    </p>
  </div>
</div>

<%- include("partials/footer") %>
