<%- include("partials/header") %>

<div class="jumbotron centered">
  <div class="container">
    <a href="/images/logo-via-logohub.png" download>
      <img src="/images/logo-via-logohub.png" alt="logohub">
    </a>
    <h1 class="display-3">Tedtube</h1>
    <p class="lead">Some things that are in this website:
      <br>
      <a href="/list">TodoList</a> <br>
      <a href="/about">About Me</a><br>
      <a href="/tedtube">Tedtube Website</a><br>
      <a href="/contact">Contact Me</a><br>
      <a href="/blog">My blog</a><br>
      <a href="/stories">My stories</a><br>
      AND MORE!
    </p>
  </div>
</div>

<%- include("partials/footer") %>
