<%- include("partials/header") -%>
<h1> Yeh! Tedtube </h1>

<iframe class="wordDocument" src="https://onedrive.live.com/embed?cid=57F736686A414F63&amp;resid=57F736686A414F63%21154&amp;authkey=AO4GdI9U5j8gqYE&amp;em=2&amp;wdStartOn=1" width="1500" height="500" frameborder="0" allowFullScreen="true">This is an embedded
  <a target="_blank" href="https://office.com">
    Microsoft Office
  </a>
  document, powered by
  <a target="_blank" href="https://office.com/webapps">
    Office
  </a>
  .
</iframe>

<%- include("partials/footer") -%>
