<%- include("partials/header") -%>

<div class="box heading">
  <h1 spellcheck="false">Texts</h1>
</div>

<div class="box">

  <%  newTextItems.forEach(function(text){ %>
    <div class="item">
      <p class="center"><%=text.name%></p>
    </div>
  <% }) %>

  <form class="item" action="/list" method="post">
    <input type="text" name="newItem" autocomplete="off" placeholder="New Item">
    <button type="submit" name="list" class="round-button" value="<%= listTitle %>"> + </button>
  </form>
</div>

<%- include("partials/footer") -%>
