<%- include("../partials/header"); -%>

<h1>Start</h1>

<!-- <p>To start coding, I will be teaching about macOS only.</p> -->

<!-- <p>So, you can get <a href="https://code.visualstudio.com/">VScode</a> or <a href="https://atom.io/">Atom</a>. <br>
    Press Download. <br> I'll be using Atom, you can use VScode. I'll put which packages you can get.</p> -->

<%- include("../partials/footer"); -%>