<%- include("../partials/header") %>
<div class="jumbotron centered">
    <div class="container">
        <form action="/calculator/add" method="post">
            <input type="text" name="addNumber1" placeholder="First number"> + <input type="text" name="addNumber2"
                placeholder="Next number">
            <button type="submit">Calculate</button>
        </form>
    </div>
</div>

<%- include("../partials/footer") %>