<%- include("../partials/header") %>
<div class="jumbotron centered">
    <h1>CALCULATORS</h1>
    <div class="container">
        <div class="btn-group" role="group">
            <a type="button" class="btn btn-info" href="/calculator/add">Addition Calculator</a>
            <a type="button" class="btn btn-info" href="/calculator/subtract">Subtraction Calculator</a>
            <a type="button" class="btn btn-info" href="/calculator/multiply">Multiplication Calculator</a>
            <a type="button" class="btn btn-info" href="/calculator/divide">Division Calculator</a>
            <a type="button" class="btn btn-info" href="/calculator/remainder">Remainder Calculator</a>
            <a type="button" class="btn btn-info" href="/calculator/exponents">Exponents Calculator</a>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>