<%- include("../partials/header") %>
<div class="jumbotron centered">
    <div class="container">
        <form action="/calculator/divide" method="post">
            <input type="text" name="divideNumber1" placeholder="First number"> รท <input type="text" name="divideNumber2"
                placeholder="Next number">
            <button type="submit">Calculate</button>
        </form>
    </div>
</div>

<%- include("../partials/footer") %>