<%- include("../partials/header") %>
<div class="jumbotron centered">
    <div class="container">
        <form action="/calculator/exponents" method="post">
            <input type="text" name="exponentsNumber1" placeholder="First number" class="calculator"> ^ <input type="text"
                name="exponentsNumber2" placeholder="Next number" class="calculator">
            <button type="submit">Calculate</button>
        </form>
    </div>
</div>

<%- include("../partials/footer") %>