<%- include("../partials/header") %>
<div class="jumbotron centered">
    <div class="container">
        <form action="/calculator/multiply" method="post">
            <input type="text" name="multiplyNumber1" placeholder="First number"> X <input type="text" name="multiplyNumber2"
                placeholder="Next number">
            <button type="submit">Calculate</button>
        </form>
    </div>
</div>

<%- include("../partials/footer") %>